<p>pipe works!</p>
<div>
  Data:{{employees |json}}
</div>


  <table class="table table-primary">
    <thead>
      <tr>
        <th >Name</th>
        <th >Address</th>
        <th >Salary</th>
        <th>Joining</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employees">
        <td >{{item.name |uppercase}}</td>
        <td>{{item.address |lowercase|reverse}}</td>
        <td>{{item.salary |currency:'INR'}}</td>
        <td>{{item.joining |date:'dd/MM/YYYY' }}</td>
      </tr>
     
    </tbody>
  </table>

